# Clustering Neighborhoods in Toronto Pt2

In [48]:
import pandas as pd

### Reading Geospatial CSV

In [49]:
df=pd.read_csv('GeospatialCoordinates.csv')
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [50]:
df.shape

(103, 3)

### Reading Neighborhood CSV

In [51]:
df1=pd.read_csv('df_can.csv')
columns=df1.columns
df1.head()

,Unnamed: 0,Postal Code,Borough,Neighborhood
0,0,M1B,Scarborough,"Malvern , Rouge"
1,1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek"
2,2,M1E,Scarborough,"Guildwood , Morningside , West Hill"
3,3,M1G,Scarborough,Woburn
4,4,M1H,Scarborough,Cedarbrae

#### Dropping unrequired column

In [52]:
df1=df1.drop(columns[0],axis=1)
df1.head()

  Postal Code       Borough                               Neighborhood
0        M1B   Scarborough                            Malvern , Rouge
1        M1C   Scarborough   Rouge Hill , Port Union , Highland Creek
2        M1E   Scarborough        Guildwood , Morningside , West Hill
3        M1G   Scarborough                                     Woburn
4        M1H   Scarborough                                  Cedarbrae

### Striping Trailing Space

In [53]:
df['Postal Code']=[c.strip() for c in df['Postal Code']]
df1['Postal Code']=[c.strip() for c in df1['Postal Code']]

### Merging Columns

In [54]:
mergedDf = df1.merge(df, on='Postal Code')
mergedDf.head(5)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Converting to CSV

In [56]:
mergedDf.to_csv(r'df_toronto.csv')